@import 'partials/base';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container div:nth-child(1) {
    background-image: url('https://images.unsplash.com/photo-1490596541415-5afadbfbbf02?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1109&q=80');
}
.container div:nth-child(2) {
    background-image: url('https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}
.container div:nth-child(3) {
    background-image: url('https://images.unsplash.com/photo-1468413253725-0d5181091126?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}
.container div:nth-child(4) {
    background-image: url('https://images.unsplash.com/photo-1610984781854-e74efe3d6ab5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}
.container div:nth-child(5) {
    background-image: url('https://images.unsplash.com/photo-1610482650877-a580984185a0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;

    height: 80vh;
    border-radius: 5rem;
    color: #fff;
    cursor: pointer;
    flex: .5;
    margin: 10px;
    position: relative;

    transition: all .7s ease-in;

    h3 {
        font-size: 2.4rem;
        font-weight: 400;
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        margin: 0;
        opacity: 0;
        transition: opacity .3s ease-in .4s;
    }
}

.panel.active {
    flex: 5;

    h3 {
        opacity: 1;
    }
}

@media(max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}